{
  "presets": ["babel-preset-expo", "flow"],
  "plugins": [
    ["babel-plugin-inline-import", {
      "extensions": [
        ".glsl"
      ]
    }]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
